<!DOCTYPE html>
<html>

  <head>
    <title>NodeJS App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="images/newapp-icon.png">
        </td>
        <td>
          <h1 id="message">NodeJS Application</h1>
              <form method='POST' action="/app">
              <div>
                <label>Serial Number</label>
                <input type="text" name="sernum" placeholder="Enter serial num here" value="<%= sernum %>">
                <button name="btn" type="submit">Submit</button>
              </div>
              </form>            
        </td>
      </tr>
      <% if(message){ %>
      <tr>
        <td>
          <span class="blue"><%= message%></span>
        </td>
      </tr>
      <% } %>
      <% if(jsonData){ %>
      <tr>
        <td>
          <span class="blue"><%= jsonData[0].name%> <%= jsonData[1].name%> <%= jsonData[2].name%> </span>
        </td>        
      </tr>
      <% } %>
    </table>
    <% if(jsonFile) { %>
    <table border="1" bgcolor="blue">
      <th colspan="2">File Contents</th>
       <% for(i=0;i< jsonFile.records.length ; i++) { %>
       <tr>
        <td><%= jsonFile.records[i].name %></td>
         <td><%= jsonFile.records[i].species %></td>
      </tr>
      <% } %>
    </table>
    <% } %>
  </body>
</html>
