<!DOCTYPE html>
<html>

  <head>
    <title>NodeJS App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="images/newapp-icon.png">
        </td>
        <td>
          <h1 id="message">NodeJS Application</h1>
              <form method='POST' action="/app">
              <div>
                <label>Serial Number</label>
                <input type="text" name="sernum" placeholder="Enter serial num here" value="<%= sernum %>">
                <button name="btn" type="submit" value="submit">Submit</button>
              </div>
              </form>            
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
              <form method='GET' action="/raw" target="_blank">
              <div>
                <button>Raw File</button>
              </div>
              </form>            
        </td>
      </tr>
      <% if(message){ %>
      <tr>
        <td colspan="2">
          <span class="blue"><%= message%></span>
        </td>
      </tr>
      <% } %>      
    </table>
    <br>
    <% if(jsonFile) { %>
    <form method='POST' action="/app">
    <input type="hidden" name="sernum" value="<%= sernum %>">
    <table border="1" bgcolor="blue">
      <tr><td colspan="3"><b>File Contents</b></td></tr>
       <% for(j=0;j< jsonFile.records.length ; j++) { %>
       <tr>
        <td><input class="chkbox" type="checkbox" name="<%= j %>"></td>
        <td><%= jsonFile.records[j].name %></td>
        <td><%= jsonFile.records[j].species %></td>
      </tr>
      <% } %>
      <tr><td colspan="3" align="center"><button name="btn" value="delete" type="submit">Delete</button>&nbsp;<button name="btn" value="update" type="submit">Update</button></td></tr>
    </table>
    </form>
    <% } %>
  </body>
</html>
